import(quantreg) 
export(cv.rq.pen)
export(rq.lasso.fit)
export(rq.nc.fit)
export(check)
export(pos_part)
export(lasso)
export(scad)
export(scad_deriv)
export(scad_1_deriv)
export(scad_2_deriv)
export(mcp)
export(mcp_deriv)
export(square)
export(randomly_assign)
export(model_eval)
export(qbic)
S3method("predict","rq.pen")
S3method("predict", "cv.rq.pen")
export(beta_plots)
export(cv_plots)